body {
<<<<<<< HEAD
    margin: 0;
    width: 100%;
    height: auto;
    /*news desciption*/
    font-family: "Roboto", arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #868f90;
=======
    background-color: rgb(231, 231, 231);
    height:100%;
    width: 100%;
    margin: 0px;
    font-family: sans-serif
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(231, 231, 231);
    height:100%;
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}

.container{
    margin-left:50px;
    margin-right:50px;
}

/*#region header*/
.header {
    background: rgb(30, 30, 30);
}

.header input[type = "text"]{
    margin-left: 50px;
    text-align: center;
    color: rgb(30, 30, 30);
    background: rgb(230,230,230);
    border: 1px solid rgb(50, 50, 50);
    height : 30px;
    caret-color: rgb(200, 46, 46);
}

.header input::placeholder{
    color: rgb(196, 107, 107);
}

.headerR{
    padding-top: 7px;
    padding-right: 50px;
    float: right;
}

.headerR a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.headerR a:hover
{
    color:rgb(200, 46, 46);
}
/*#endregion*/


/*#region logoBar*/

.logo{
    margin-bottom: 50px;
}

.logoBar{
    margin-top: 20px;
    margin-left: 0px;
}

.logoBar img{
    float: left;
    justify-content: center;
    margin-right: 10px;
    margin-top: 0px;
    width:300px;
    height:96px;
}

.logoSub{
    padding-top: 3px;
    margin-left: 50px;
    margin-right: 50px;
}

.logoSub h1{
    padding-top: 5px;
    font-size: 20px;
    color: rgb(20, 20, 20)
}

.logoSub p{
    font-size: 14px;
    color: rgb(30, 30, 30);
}

/*#endregion*/


/*#region navBar*/
.topnav {
    display : flex;
    height: 50px;
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.topnavSub{
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.topnavSub a {
    margin-left: 20px;
    color: rgb(230, 230, 230);
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 18px;
}

.topnavSub a:hover {
    background-color: rgb(200, 46, 46);
    color: rgb(230,230,230);
    text-decoration: underline;
    text-decoration-color: rgb(200, 200, 200);
}


/*#endregion*/


/*#region Reactive Component*/
@media only screen and (max-width: 768px) and (min-width: 300px) {
    
    .header input[type = "text"]
    {
        margin-left: 10px;
    }
    
    .headerR{
        padding-right: 20px;
    }
    
    .headerR a{
        font-size: 12px;
    }
    
    .logo{
        margin-bottom: 20px;
    }
    
    .logoBar{
        display:flex;
        margin-left: 0px;
    }
    
    .logoBar img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoSub{
        text-align: center;
    }
    
    .topnavSub a{
        margin-left: 10px;
        font-size: 14px;
    }
    
}
/*#endregion*/

/*#region Reactive Component*/
@media only screen and (max-width: 768px) and (min-width: 300px) {
    
    .header input[type = "text"]
    {
        margin-left: 10px;
    }
    
    .headerR{
        padding-right: 20px;
    }
    
    .headerR a{
        font-size: 12px;
    }
    
    .logo{
        margin-bottom: 20px;
    }
    
    .logoBar{
        display:flex;
        margin-left: 0px;
    }
    
    .logoBar img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoSub{
        text-align: center;
    }
    
    .topnavSub a{
        margin-left: 10px;
        font-size: 16px;
    }
    
>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187
}

/*Headline News & Article*/
h1 {
    color: indianred;
    font-family: "Roboto Slab", arial, sans-serif;
    margin-top: 150px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 50px;
}
/*News title*/
h2 {
    color: darkred;
    font-family: "Roboto Slab", arial, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 50px;
}
/*box for news*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

/*figure box */
#news {
    margin-bottom: 7em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    float: left;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #news {
        margin-bottom: 4em;
        padding-left: 0em;
        padding-right: 0em;
    }
}

/*image1*/
#news .news-item {
    float: left;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 768px) {
    #news .news-item {
        display: block;
    }
}

#news .news-item .news-description,
#news .news-item .news-figure {
    width: 50%;
}

@media screen and (max-width: 768px) {
    #news .news-item .news-description,
    #news .news-item .news-figure {
        display: block;
        width: 100%;
    }
}

#news .news-item .news-figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    #news .news-item .news-figure {
        height: 400px;
    }
}

#news .news-item .news-description {
    background: #fff;
    padding: 4em;
    font-size: 12px;
    line-height: 30px;
}

@media screen and (max-width: 1200px) {
    #news .news-item .news-description {
        padding: 2em;
    }
}

@media screen and (max-width: 768px) {
    #news .news-item {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #news .news-item .news-description {
        padding: 1em;
    }
}

/*Title for news*/
#news .news-item .news-description h2 {
    font-family: "Roboto Slab", arial, sans-serif;
    font-size: 25px;
    line-height: 34px;
    font-weight: 500;
}

/*image width*/
#news .news-item .news-description,
#news .news-item .news-figure {
    width: 50%;
}

@media screen and (max-width: 768px) {
    #news .news-item .news-description,
    #news .news-item .news-figure {
        display: block;
        width: 100%;
    }
}
/*image in center*/
#news .news-item .news-figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

/*image height, font size*/
#news .news-item .news-description {
    background: #fff;
    padding: 4em;
    font-size: 17px;
    line-height: 30px;
}

/*image2 on right*/
#news .news-item.img-right .news-figure {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    #news .news-item.img-right .news-figure {
        position: relative;
        top: auto;
        bottom: auto;
        height: 400px;
    }
}

/* Buttons Read More */
<<<<<<< HEAD
=======

>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187
.btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 14px 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857;
    -webkit-user-select: none;
    text-align: center;
    text-decoration: none;
}
<<<<<<< HEAD
    .btn:hover, .btn:focus, .btn:active {
        background: #fff !important;
        color: #444 !important;
        border: 2px solid #444 !important;
        box-shadow: none;
        outline: none;
    }
=======

.btn:hover, .btn:focus, .btn:active {
    background: #fff !important;
    color: #444 !important;
    border: 2px solid #444 !important;
    box-shadow: none;
    outline: none;
}
>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187

.btn-outline {
    border: 2px solid #ccc !important;
    background: transparent;
    color: #2a2e37;
}

<<<<<<< HEAD
    .btn-outline:hover, .btn-outline:active, .btn-outline:focus {
        border: 2px solid #e32929 !important;
        background: #e32929 !important;
        color: #fff;
    }
=======
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
    border: 2px solid #e32929 !important;
    background: #e32929 !important;
    color: #fff;
}
>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187

/*Button color*/
.btn-primary {
    color: #fff;
    background-color: #e32929;
    border-color: #d61c1c;
}
<<<<<<< HEAD
    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: #c01919;
        border-color: #660d0d;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #c01919;
        border-color: #a01515;
    }

    .btn-primary:active, .btn-primary.active {
        color: #fff;
        background-color: #c01919;
        border-color: #a01515;
    }
        .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
            color: #fff;
            background-color: #a01515;
            border-color: #660d0d;
        }

    .btn-primary:active, .btn-primary.active {
        background-image: none;
    }

    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
        background-color: #e32929;
        border-color: #d61c1c;
    }

    .btn-primary .badge {
        color: #e32929;
        background-color: #fff;
    }
=======
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #c01919;
    border-color: #660d0d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c01919;
    border-color: #a01515;
}

.btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #c01919;
    border-color: #a01515;
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
    color: #fff;
    background-color: #a01515;
    border-color: #660d0d;
}

.btn-primary:active, .btn-primary.active {
    background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #e32929;
    border-color: #d61c1c;
}

.btn-primary .badge {
    color: #e32929;
    background-color: #fff;
}
>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187

.btn-primary,
{
    border-color: transparent;
}

<<<<<<< HEAD
    .btn-default:hover, .btn-default:active, .btn-default:focus,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus
 {
        background: #fff;
        color: #444;
        border: 2px solid #444;
    }
=======
.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
{
    background: #fff;
    color: #444;
    border: 2px solid #444;
}


footer{
    display:inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(30, 30, 30);
    color: rgb(100, 100, 100);
    /*text-align: center;*/
}


.grid-container {
    display: grid;
    /* grid-column-gap: 20px;*/
    grid-template-columns: auto;
    background-color:  rgb(30, 30, 30);
    /* padding: 10px;*/
}

.grid-item {
    background-color: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 0px;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.grid-item img{
    padding-left: 5px;
}

/*For footer responsive*/
@media only screen and (min-width: 500px){
    
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid-item{
        width: auto;
        padding: 20px;
    }
    
    .grid-item:nth-child(even){
        padding-top:19px;
    }
    
}

@media only screen and (max-width: 560px){
    
    .logo{
        margin-bottom: 10px;
    }
    
    .topnavSub a{
        margin-left: 0px;
        padding: 10px 10px;
        font-size: 14px;
    }
    
    .service{
        width:100%;
    }
    
}

>>>>>>> ab8b781b8ce5478e145a24eec3909d378d022187

